
.top-container
{
    padding-left: 10px;
    padding-right: 10px;
}
mat-sidenav-container{
    /* position: fixed;
    height: 91%; */
    width: calc(100% - 20px);
    margin-top: 2px;
    border: 1px solid #555;
    /* background-color: aqua; */
  }