.top-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 3px;
    border: 1px solid lightblue;
}
.path-container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.folder-container{
    /* background-color:chartreuse; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    min-height: 50px;
   
}