/* .my-select-panel-class {
    width:520px;
    max-width:520px;
    background-color: red;
    font-size: 10px;
}

.my-panel {
    background: orange;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px !important;
}

.mat-form-field-infix{
    width: 180px !important;
} 
 */
