
.top-container{
    display: flex;
    flex-direction: column;    
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
    background-color: antiquewhite;
}
.header-group{
    height: 50px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.content-group {
    /* flex: 1 1  auto; */
    flex-grow: 1 ;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow:hidden;  /* this is nessary for content scrollbar */

    display: flex;
    flex-direction: row;

}
.side-group{
    flex-grow: 0;
    flex-basis: 150px;
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.content-group > .main-group{
    flex-grow: 1;
    border: 1px solid lightgray;
    border-radius: 5px;

    overflow: auto;
}

.footer-group{
    flex: 0 0 auto;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center; */
}

/* 
.top-container{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.header-group{
    height: 70px;
    border: 1px solid black;
    position:sticky;
    z-index: 999;
}
.section-group{
    flex: 1 1 auto;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
}
.side-group {
    width: 150px;
    border: 1px solid black;
}
.content-group {
    flex: 1 1 auto;
    background-color: antiquewhite;
    overflow-y: scroll;

    
}
.footer-group{
    height: 50px;
    border: 1px solid black;
} */
