

<div class="top-container">
    <header class="header-group">
      <h1>안녕하세요 </h1>
    </header>
    <div class="content-group">
        <div class="side-group">
          <nav>
              <ul>
                <li><a routerLink="first" skipLocationChange="true" >Child A</a></li>
                <li><a routerLink="second" skipLocationChange="true" >Child B</a></li>
              </ul>
          </nav>
        </div>
        <div class="main-group">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="footer-group">
      <h3>안녕하세요 footer</h3>
    </footer>
</div> 



