.table-row {
  /* height: 30px !important; */
  min-height: 100%;
  border-bottom: none;
  padding: 5px 0;
  align-items: stretch;
  
}
.header-row {
  height: 30px !important;
}


/* .my-table {
  height: 100vh;
  overflow: auto; 
  width: 100%;
} */