<div fxLayout="column" fxLayoutAlign="flex-start center" class="top-div" >
    <mat-card>
        <mat-card-header class="card-header" >
            <mat-card-title>Reset password</mat-card-title>
        </mat-card-header>
        

        <form fxLayout="column"
            [formGroup] = "form"
            (ngSubmit) = "onSubmit()">
			<div formGroupName="passwordGroup" fxLayout="column" fxLayoutGap="2px">
				<mat-form-field appearance="outline" floatLabel="always" style="margin-bottom: -1.25em">
					<mat-label>Password</mat-label>
					<input 
						type="password"
						matInput
						placeholder="Enter Password"
						formControlName="password"/>
                    <!-- <mat-error *ngIf="checkValidation('passwordGroup.password')">
                        {{ passwordErrors() }}
                    </mat-error> -->
				</mat-form-field>
                <mat-error *ngIf="checkValidation('passwordGroup.password')">
                    {{ passwordErrors() }}
                </mat-error>
				<mat-form-field  appearance="outline" floatLabel="always" >
					<mat-label>Confirm Password</mat-label>
					<input 
						type="password"
						matInput
						placeholder="Enter Confirm Password"
						formControlName="confirmPassword"/>
                    <!-- <mat-error *ngIf="checkValidation('passwordGroup.confirmPassword')">
                        {{ confirmPasswordErrors() }}
                    </mat-error> -->

				</mat-form-field>
                <mat-error *ngIf="checkValidation('passwordGroup.confirmPassword')">
                    {{ confirmPasswordErrors() }}
                </mat-error>
                <mat-error *ngIf="checkGroupValidation()" 
                    style="background-color: transparent; height: min-content;">
                    Passwords must match
                </mat-error>
                
			</div>

            <mat-card-actions    >
                <button mat-raised-button color="primary">Submit
                        <mat-icon *ngIf="loading">
                            <mat-spinner color="accent" diameter="20"> </mat-spinner>
                        </mat-icon>                      
                </button>
                <div fxFlex></div>
                <div *ngIf="showSuccess">
                    Your password has been reset. Please 
                    <a [routerLink]="['/auth/login']"> click here to log in. </a>
                </div>
                
                <!-- <a routerLink="../register"  >Register</a>
                <a routerLink="../forgot-password" style="margin-left: 10px;" >Forgot Password?</a> -->
            </mat-card-actions>    
   
        </form>    
    </mat-card>
</div>