  <div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
  </div>
  
  <!-- Shareable short link of  uploaded file -->
  <div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
  </div>
  
  <!--Flag variable is used here-->
  <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
  </div>
  <!-- 
  <input type="file" class="file-input"
         (change)="onFileSelected($event)" #fileUpload>
  
  <div class="file-upload">
  
     {{fileName || "No file uploaded yet."}}
  
      <button mat-mini-fab color="primary" class="upload-btn"
        (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
      </button>
  </div> -->
  
