<div class="top-container">
    <div class="input-container">
        <div>Forgot password</div>
        <form [formGroup]="form" (submit)="onSubmit()" >
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName ="email">
                @if (form.controls['email'].invalid) {
                  <mat-error>{{getErrorMsg("email")}}</mat-error>
                }
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button color="primary" >Send email
                    @if( loading$ | async )    {
                        <mat-icon>
                            <mat-spinner color="accent" diameter="20"> </mat-spinner>
                        </mat-icon>
                    }
                    <!-- <mat-icon *ngIf="loading$ | async">                        
                        <mat-spinner color="accent" diameter="20"> </mat-spinner>
                    </mat-icon>   -->
                </button>
                <span style="flex-grow: 1;"></span>
                <a routerLink="../login" skipLocationChange="true"  >Cancel</a>
            </div>   
            <div *ngIf="isSubmitOk">
                <h2>Send email successfully</h2>
                <h3>Please check your email for password reset instructions</h3>
            </div> 
        </form>
    </div>
</div>
