<div fxLayout="column" fxLayoutAlign="flex-start center" class="top-div" >
    <mat-card>
        <mat-card-header class="card-header" >
            <mat-card-title>Forgot password</mat-card-title>
        </mat-card-header>
        <form fxLayout="column"
            [formGroup] = "form"
            (ngSubmit) = "submit()">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Email</mat-label>
                <input type="text" matInput
                    placeholder="Enter Email"
                    formControlName="email">
            </mat-form-field>
    
            <mat-card-actions    >
                <button mat-raised-button color="primary">Submit
                        <mat-icon *ngIf="loading">
                            <mat-spinner color="accent" diameter="20"> </mat-spinner>
                        </mat-icon>                      
                </button>
                <div fxFlex></div>
                
                <a routerLink="../login"  >Cancel</a>

                <!-- <button mat-raised-button color="primary" 
                routerLink ="../login" 
                routerLinkActive="active">Cancel</button> -->

                
                <!-- <mat-spinner *ngIf="loading"></mat-spinner>
                <button id="btn_login" mat-raised-button color="primary" >Login</button> -->
            </mat-card-actions>    

        </form> 

    </mat-card>
</div>
